body {
    margin: 0;
    background-color: #a1e2a8;
    

}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100;
    z-index: 1000;
}

.navbar-expand-lg {
    background-color:  #7fca86;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px #428b49;
      
}

.card-body a{
    text-decoration: none;
    color: black;
}

.card-body a:hover{
    text-decoration: underline;
}

/* EStilo de las barras de, medicamentos, insumos, enfermades, etc*/
.navbar-nav .nav-link {
    border: 2px solid #36ac42;     /* Color del borde */
    border-radius: 50px;         /* Hace el borde ovalado */
    padding: 6px 15px;           /* Espaciado interno */
    margin:  5px;               /* Espacio entre cada opción */
    transition: all 0.3s ease;   /* Animación suave */
    color: rgb(0, 0, 0);                /* Texto en blanco */
}

.navbar-nav .nav-link:hover {
    background-color: #a9eeb0;   /* Fondo blanco */
    color: #207729;            /* Texto verde (el color de tu navbar) */
    border-color: #36ac42;     /* Borde verde */
}

    .sidebar {
      background-color: #cdd8c0;
      border-radius: 15px;
      padding: 20px;
    }
    .sidebar h5 {
      font-weight: bold;
      color: #2f3b2f;
    }
    .sidebar button {
      width: 100%;
      margin-bottom: 10px;
      background-color: #e9f1e4;
      color: #2f3b2f;
      border: none;
      transition: 0.3s;
    }
    .sidebar button:hover {
      background-color: #a8bfa2;
      color: white;
    }
    .carousel-item img {
      border-radius: 10px;
      object-fit: cover;
      height: 250px;
    }
    .card {
      border: none;
      border-radius: 15px;
      background-color: #f8f9f6;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
    .card-body {
      text-align: center;
    }
    .btn-info-custom {
      background-color: #7b8f6d;
      color: white;
      border: none;
    }
    .btn-info-custom:hover {
      background-color: #5c6d52;
    }