body {
    margin: 0;
    background-color: #a1e2a8;
    
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100;
    z-index: 1000;
}

.navbar-expand-lg {
    background-color:  #7fca86;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px #428b49;
      
}

.card-body a{
    text-decoration: none;
    color: black;
}

.card-body a:hover{
    text-decoration: underline;
}

/* EStilo de las barras de, medicamentos, insumos, enfermades, etc*/
.navbar-nav .nav-link {
    border: 2px solid #36ac42;     /* Color del borde */
    border-radius: 50px;         /* Hace el borde ovalado */
    padding: 6px 15px;           /* Espaciado interno */
    margin:  5px;               /* Espacio entre cada opción */
    transition: all 0.3s ease;   /* Animación suave */
    color: rgb(0, 0, 0);                /* Texto en blanco */
}

.navbar-nav .nav-link:hover {
    background-color: #a9eeb0;   /* Fondo blanco */
    color: #207729;            /* Texto verde (el color de tu navbar) */
    border-color: #36ac42;     /* Borde verde */
}

.custom-container {
  max-width: 700px;
  margin: 0 auto;
  background: #ffffffce; /* Blanco con opacidad */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* Título */
.carousel-title {
  font-weight: 700;
  margin-bottom: 20px;
  color: #2a6f38;
}

/* Tamaño uniforme de imágenes */
.carousel-item {
  height: 420px; /* tamaño fijo para todas */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantiene proporción y llena todo */
}

/* Mejor visibilidad del texto dentro de la imagen */
.carousel-caption {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 25px; /* Baja el texto y el botón */
}

.carousel-indicators {
  margin-bottom: -5px; /* Puedes ajustar el valor */
}



